.allPage {
  font-family: "poppins", sans-serif;
}

.blockContainer {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 8px #e3e3e3;
  display: flex;
  flex-direction: row;
  height: 220px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 50px;
  width: 80%;
}

.blockDivider {
  height: 20px;
}

.blockImage {
  object-fit: cover;
}

.blockImageContainer {
  border-radius: 8px 0 0 8px;
  border-right: 1px solid #cccccc;
  flex: 0 0 auto;
  height: 100%;
  overflow: hidden;
  width: 265px;
}

.blockRightColumn {
  height: 100%;
  margin: 0 50px;
  width: 100%;
}

.blockTitle {
  background-image: linear-gradient(to right, rgb(255 255 255), rgb(255 255 255) ,rgb(255 255 255 / 0%));
  border-bottom: 1px solid #d0d0d0;
  font-size: 30px;
  margin: 45px auto 45px;
  padding: 15px;
  position: sticky;
  top: 0;
  width: 81%;
  z-index: 1;
}

.body {
  background-repeat: no-repeat;
  height: 1000vh;
}

.contactSection {
  background-image: url('../../public/bg_sky_mountains.jpg');
  align-items: center;
  background-color: #527395;
  color: white;
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: center;
  margin-top: 100px;
  padding: 20px 0;
  position: absolute;
  top: 90vh;
  width: 100%;
}

.contactSection a {
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}


.headerContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  max-height: 665px;
  overflow: hidden;
}

.headshotFaded {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.headshot {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navContainerDesktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.navContainerDesktop span {
  align-items: center;
  border: 1px solid #888888;
  border-radius: 5px;
  box-shadow: 0px 3px 5px #0000001f;
  color: black;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 10px;
  padding: 10px;
  width: 100px;
}

.navContainerDesktop span:active {
  box-shadow: none;
}

.navContainerDesktop span:hover {
  border: 1px solid black;
}

.titleContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  right: 20px;
}

.titleTop {
  position: relative;
  text-align: center;
  font-size: 88px;
  margin: 0;
}

.titleBottom {
  bottom: 10px;
  position: relative;
  right: 14px;
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.titleParagraph {
  font-size: 18px;
  font-family: "poppins", sans-serif;
  max-width: 280px;
  margin: 0;
  position: relative;
}

@media only screen and (max-width: 900px) {

  /* tablets and small desktop */
  .headerContainer {
    max-height: 335px;
  }

  .titleContainer {}

  .titleTop {
    font-size: 65px;
  }

  .titleBottom {
    font-size: 38px;
  }

  .titleParagraph {
    font-size: 14px;
    max-width: 200px;
    right: 8px;
  }
}

@media only screen and (max-width: 500px) {
  /* mobile */

  .headerContainer {
    max-height: fit-content;
    flex-direction: column;
  }

  .titleContainer {
    bottom: 28px;
    right: 0;
    width: 100%;
  }

  .titleTop {
    font-size: 60px;
  }

  .titleBottom {
    bottom: 12px;
    font-size: 36px;
  }

  .titleParagraph {
    font-size: 14px;
    max-width: 100%;
    margin: 0 20px;
    right: 0;
  }

  .headshot {
    display: block;
  }

  .headshotFaded {
    display: none;
  }

  .navContainerDesktop {
    display: none;
  }

}